.interest-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Smooth transition on hover */
}

.interest-img:hover {
    transform: scale(1.1); /* Enlarge the image on hover */
}

.selected {
    border: 3px solid #007bff; /* Highlight selected images */
    box-shadow: 0 0 25px rgba(0, 123, 255, 0.5); /* Add a subtle shadow to selected images */
}

.PP {
    font-weight: bold;
}

/* Additional styling for the Next button */
.btn-primary2 {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary2:hover {
    color: white;
    background-color: #0056b3;
    border-color: #0056b3;
}